%nav
  .nav-actions
    .divvy-logo.icon d
    .map-slider{data: {hour: @current_hour}}
    %span.nav-time= "#{@current_hour}:00"

%section.map-container
  #map-day.map.map-day
  #map-night.map.map-night

  - (0..23).each do |hour|
    - if hour < 10
      - hour = "0#{hour}"
    .map.heatmap{id: "map-#{hour}", class: "map-#{hour}"}

  .map-markers.map
  .map-control.map

  .chart
    .chart-point
    .chart-caption.marker-popover
      %h4 xx hours