-# = @trip.inspect

-# = @points
-# = Trip.first.set_directions_points

%script
  = render file: "trips/static-data/trip-duration"
  / - (0..23).each do |hour|
  /   - if hour < 10
  /     - hour = "0#{hour}"
  
  /   = render file: "trips/static-data/trip-data-#{hour}"

  / var trip_data = [
  / - @trips.each do |trip|
  /   - if trip.directions_points.present?
  /     != "'#{trip.directions_points}',"
  / ];
  = render file: "trips/static-data/station-data"

%nav
  .nav-actions
    .divvy-logo.icon d
    .map-slider{data: {hour: @current_hour}}

%section.map-container
  #map-day.map.map-day
  #map-night.map.map-night

  / #map-00.map.heatmap.map-00.current-heatmap
  / - (1..23).each do |hour|
  /   - if hour < 10
  /     - hour = "0#{hour}"
  /   .map.heatmap{id: "map-#{hour}", class: "map-#{hour}"}

  .chart
    .chart-point
    .chart-caption
      %h4 xx hours
